# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
studenMS/settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*
!.env.example


# Virtual environments
.venv/
venv/
env/
ENV/

# IDE / OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
